@import 'base';
body{ background-color: lightgray;}
section{
    width: 100%;
    height: 100vh;
    .nav{
        width: 20%;
        height: 100vh;
        background-color: rgb(113, 201, 252);

        .entete{
            width: 100%;
            height: 30vh;
            color: white;
            background-color: #1A0A81;
            box-shadow: 1px  1px  25px gray; 
            .box-profil{
                width: 88%;
                height: 15vh;
                margin-left: 10%;
                .cercle{
                    height: 80px;
                    border-radius: 100%;
                    width: 90px;
                     img{
                        background-size: cover;
                        height: 80px;
                        width: 90%;
                        border-radius: 100%;
                    
                    }
                }
            h4{font-size: 20px;font-weight: bolder; }
            } 
            .box-role{
                width: 70%;
                height: 15vh;
                margin-left: 20%;
                img{height: 60px; width: 25%;} 
                h5{ font-size: 20px; font-weight: bolder;}
            }      
        }

        .link{
            width: 90%;
            height: 30vh;
            margin-top: 5vh;
            margin-left: 10%;
            .button_on{
                background-color:  rgb(113, 201, 252);
                min-height: 7vh;
                width: 100%;
                border-bottom: 1px solid #1A0A81;
                border-left: none;
                border-top: none;
                border-right: none;
                &:hover{ 
                    background-color: #1A0A81;
                    a{color: white;}
                }
                 a{ color: #1A0A81; font-size: 18px; }
                 .image{height: 35px;width: 15%;}
            }
        }
        .button_one{
            background-color:  #1A0A81;
            min-height: 7vh;
            width: 80%;
            margin-top: 15vh;
            margin-left: 10%;
             a{ color: white; font-size: 18px;margin-left: 5%; }
             .image{height: 35px;width: 15%;}
        }
    }
    .body{
        width: 75%;
        height: 90vh;
        background-color: white;
        box-shadow: 1px  1px 15px black;
        margin-top: 6vh;
        h2{
            font-size: 18px;
            font-weight: bolder;
            margin-top: 2%;
            margin-left: 3%;
        }
        hr{
            height: 1vh;
            background-color: #1A0A81;
            width: 4%;
            margin-left: 3%;
        }
        .button{
            width: 15%;
            height: 6vh;
            background-color: #1A0A81;
            margin-left: 65%;
            margin-top: 4vh;
            border-radius: 25px;
            a{color: white;font-size: 14px; }
        }
        .form{
            width: 23%;
            height: 8vh;
            margin-left: 15%;
            margin-top: 4vh;
            .select{
                width: 50%;
                height: 4vh;
                border-radius: 25px;
            }
            .sebmit{
                width: 18%;
                height: 3vh;
                margin-left: 1%;
                background-color: #1A0A81;
                color: white;
                border: 2px;
            }
        }
        .tab{
            border-collapse: collapse;
            height: 30vh;
           min-width: 1100px;
           margin: 50px auto;
           margin-top: 3vh;
           border: 2px solid #1A0A81;
           cursor: pointer;
           box-shadow: 2px 2px 2px #1A0A81;
           thead tr{
            background-color: #1A0A81;
             text-align: left;
             height: 8vh;
             color: white;  
            }
            th, td{ padding: 15px 20px;}
            td a{ color: black;}
        
            tbody,tr, td, th{border: 1px solid gray;}
            .rej{
                width: 30%;
                height: 4vh;
                background-color: red;
                margin-left: 5%;
                border: none;
                a{color: white;font-size: 14px; }
            }
            .val{
                width: 30%;
                height: 4vh;
                border: none;
                background-color: green;
                a{color: white;font-size: 14px; }
            }
        }
        .pagi{
            height: 7vh;
            margin-top: 2vh;
            margin-left: 38%;
            a{
                height: 7vh;
                color: white;
                font-size: 20px;
                padding: 2%;
                border: solid 1px;
                background-color: #1A0A81;
                &:hover{
                    background-color: rgb(113, 201, 252) ;
                    a{ color: #1A0A81;} 
                } 
            }
     
           
        }

    
      }
}

.login{
     width: 25%;
     height: 45vh;
     background-color: rgb(113, 201, 252);
     margin: auto;
     margin-top: 25vh;
     box-shadow: 1px  1px  25px gray; 
     .log{
        width: 80%;
        height: 30vh;
        h1{color: #1A0A81; margin-left: 40%;}
        .form-login{
            width: 100%;
            height: 25vh;
            margin-top: 3vh;
            .inpute{
                width: 100%;
                height: 9vh;
                .input-login{
                    width: 100%;
                    height: 4vh;
                    background-color: #1A0A81;
                    border: none;
                    border-radius: 25px;
                    color: white;
                }
                label{color: #1A0A81;}
            }
           .button-login{
                    width: 40%;
                    height: 5vh;
                    background-color: #1A0A81;
                    border: none;
                    border-radius: 25px;
                    margin-left: 30%;
                    margin-top: 1vh;
                    color: white;
                    cursor: pointer;
           }
         }


     }
     

}

.form-dmd{
    width: 60%;
    height: 30vh;
    margin: auto;
    margin-top: 20vh;
    .select-dmd{
        width: 100%;
        height: 7vh;
        box-shadow: 2px  2px  2px #1A0A81; 
    }
    .sebmit{
        width: 40%;
        height: 5vh;
        background-color: green;
        border: none;
        color: white;
        cursor: pointer;
        margin-top: 5vh;
    }
    .annuler{
        width: 40%;
        height: 5vh;
        background-color: rgb(156, 103, 6);
        border: none;
        color: white;
        margin-top: 5vh;
        cursor: pointer;
        margin-left: 10%;

    }
    

}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1A0A81;
    margin-bottom: 15vh;
    .container_1{
        width: 30%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #1A0A81;
        li {
        list-style-type: none;
            a{
                color: white;
                font-size: 20px;
            }
        }
        
    }
    .text{
        color: white;
    }
}
h2{
    font-size: 18px;
    font-weight: bolder;
    margin-top: -5%;
    margin-left: 3%;
}
hr{
    height: 1vh;
    background-color: #1A0A81;
    width: 3%;
    margin-left: 3%;
}

.section{
    width: 90%;
    margin-left: 5%;
    height: 250vh;
    box-shadow: 1px  1px 15px #555;
    margin-top: 7vh;
    h4{margin: 4%; }
  
    .main{
        width: 100%;
        height: 70vh;
        //  background-color: gray; 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        button{
            background-color: #1A0A81;
            color: white;
            border: none;
            width: 40%;
            height: 5vh;
            border-radius: 15px;
            font-size: 12px;
            margin-left: 55%;
            cursor: pointer;
        }
        .carte{
            width: 25%;
            height: 65Vh;
            /* background-color: lightgray; */
            border: 1px solid #6e66a3;
            &:hover{
                box-shadow: 1px 1px 1px 1px #1A0A81;
            }
            img{
                width: 100%;
                height: 46vh;
            }
        
        }
    }
}