@import 'base';
body{ background-color: lightgray;}
section{
    width: 100%;
    height: 100vh;
    .nav{
        width: 20%;
        height: 100vh;
        background-color: rgb(113, 201, 252);

        .entete{
            width: 100%;
            height: 30vh;
            color: white;
            background-color: #1A0A81;
            box-shadow: 1px  1px  25px gray; 
            .box-profil{
                width: 88%;
                height: 15vh;
                margin-left: 10%;
                .cercle{
                    height: 80px;
                    border-radius: 100%;
                    width: 90px;
                     img{
                        background-size: cover;
                        height: 80px;
                        width: 90%;
                        border-radius: 100%;
                    
                    }
                }
            h4{font-size: 20px;font-weight: bolder; }
            } 
            .box-role{
                width: 70%;
                height: 15vh;
                margin-left: 20%;
                img{height: 60px; width: 25%;} 
                h5{ font-size: 20px; font-weight: bolder;}
            }      
        }

        .link{
            width: 90%;
            height: 30vh;
            margin-top: 5vh;
            margin-left: 10%;
            .button_on{
                background-color:  rgb(113, 201, 252);
                min-height: 7vh;
                width: 100%;
                border-bottom: 1px solid #1A0A81;
                border-left: none;
                border-top: none;
                border-right: none;
                &:hover{ 
                    background-color: #1A0A81;
                    a{color: white;}
                }
                 a{ color: #1A0A81; font-size: 18px; }
                 .image{height: 35px;width: 15%;}
            }
        }
        .button_one{
            background-color:  #1A0A81;
            min-height: 7vh;
            width: 80%;
            margin-top: 15vh;
            margin-left: 10%;
             a{ color: white; font-size: 18px;margin-left: 5%; }
             .image{height: 35px;width: 15%;}
        }
    }
    .body{
        width: 75%;
        height: 90vh;
        background-color: white;
        box-shadow: 1px  1px 15px black;
        margin-top: 6vh;
        h2{
            font-size: 18px;
            font-weight: bolder;
            margin-top: 2%;
            margin-left: 3%;
        }
        hr{
            height: 1vh;
            background-color: #1A0A81;
            width: 4%;
            margin-left: 3%;
        }
        .button{
            width: 15%;
            height: 6vh;
            background-color: #1A0A81;
            margin-left: 65%;
            margin-top: 4vh;
            border-radius: 25px;
            a{color: white;font-size: 14px; }
        }
        .form{
            width: 23%;
            height: 8vh;
            margin-left: 15%;
            margin-top: 4vh;
            .select{
                width: 50%;
                height: 4vh;
                border-radius: 25px;
            }
            .sebmit{
                width: 18%;
                height: 3vh;
                margin-left: 1%;
                background-color: #1A0A81;
                color: white;
                border: 2px;
            }
        }
        .tab{
            border-collapse: collapse;
            height: 30vh;
           min-width: 1000px;
           margin: 50px auto;
           margin-top: 3vh;
           border: 2px solid #1A0A81;
           cursor: pointer;
           box-shadow: 2px 2px 2px #1A0A81;
           thead tr{
            background-color: #1A0A81;
             text-align: left;
             height: 8vh;
             color: white;  
            }
            th, td{ padding: 15px 20px;}
            td a{ color: black;}
        
            tbody,tr, td, th{border: 1px solid gray;}
        }
        .pagi{
            height: 7vh;
            margin-top: 2vh;
            margin-left: 38%;
            a{
                height: 7vh;
                color: white;
                font-size: 20px;
                padding: 2%;
                border: solid 1px;
                background-color: #1A0A81;
                &:hover{
                    background-color: rgb(113, 201, 252) ;
                    a{ color: #1A0A81;} 
                } 
            }
     
           
        }

    
      }
}

.login{
     width: 25%;
     height: 45vh;
     background-color: rgb(113, 201, 252);
     margin: auto;
     margin-top: 25vh;
     box-shadow: 1px  1px  25px gray; 
     .log{
        width: 80%;
        height: 30vh;
        h1{color: #1A0A81; margin-left: 40%;}
        .form-login{
            width: 100%;
            height: 25vh;
            margin-top: 3vh;
            .inpute{
                width: 100%;
                height: 9vh;
                .input-login{
                    width: 100%;
                    height: 4vh;
                    background-color: #1A0A81;
                    border: none;
                    border-radius: 25px;
                    color: white;
                }
                label{color: #1A0A81;}
            }
           .button-login{
                    width: 40%;
                    height: 5vh;
                    background-color: #1A0A81;
                    border: none;
                    border-radius: 25px;
                    margin-left: 30%;
                    margin-top: 1vh;
                    color: white;
                    cursor: pointer;
           }
         }


     }
     

}